In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [14]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [15]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [16]:
len(titles)

230962

In [17]:
titles.shape

(230962, 2)

### What are the earliest two films listed in the titles dataframe?

In [18]:
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [23]:
titles.sort_values('year').head(2)

                     title  year
176730          Miss Jerry  1894
214024  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [24]:
len(titles[titles.title == 'Hamlet'])

18

### How many movies are titled "North by Northwest"?

In [25]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [27]:
titles[titles.title == 'Hamlet'].sort_values('year').head(1)

        title  year
46426  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [29]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
204851  Treasure Island  1918
50968   Treasure Island  1920
189975  Treasure Island  1934
96377   Treasure Island  1950
59272   Treasure Island  1972
110718  Treasure Island  1973
204222  Treasure Island  1985
178326  Treasure Island  1999

### How many movies were made in the year 1950?

In [30]:
len(titles[titles.year == 1950])

1095

### How many movies were made in the year 1960?

In [31]:
len(titles[titles.year == 1960])

1498

### How many movies were made from 1950 through 1959?

In [32]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12664

### In what years has a movie titled "Batman" been released?

In [37]:
titles[titles.title == 'Batman'].year.tolist()

[1989, 1943]

### How many roles were there in the movie "Inception"?

In [42]:
cast[cast.title == 'Inception'].__len__()

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [45]:
cast[(cast.title == 'Inception') & (cast.n.isnull())].__len__()

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [48]:
cast[(cast.title == 'Inception') & (cast.n.notnull())].__len__()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [53]:
cast[(cast.title == 'North by Northwest')& (cast.n.notnull())].sort_values('n').name

841616               Cary Grant
3366430         Eva Marie Saint
1406734             James Mason
3028575     Jessie Royce Landis
344214           Leo G. Carroll
2927372    Josephine Hutchinson
1636863             Philip Ober
1230892           Martin Landau
2361419           Adam Williams
1748888            Edward Platt
643051        Robert Ellenstein
2215374            Les Tremayne
448561          Philip Coolidge
1456470           Patrick McVey
198821             Edward Binns
1336677               Ken Lynch
Name: name, dtype: object

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [56]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972) & (cast.n.notnull())].sort_values('n')

,title,year,name,type,character,n
1646656,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
315163,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360913,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1414702,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2623168,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1398593,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [58]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort_values('n')

          title  year                 name     type          character    n
315164   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1248684  Sleuth  2007             Jude Law    actor               Milo  2.0
1743619  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250682   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360914   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2623167  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3228336  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [63]:
cast[(cast.title == 'Hamlet') &(cast.year == 1921) & (cast.n.notnull())].__len__()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [64]:
cast[(cast.title == 'Hamlet') &(cast.year == 1996) & (cast.n.notnull())].__len__()

46

### How many "Hamlet" roles have been listed in all film credits through history?

In [65]:
cast[(cast.title == 'Hamlet')  & (cast.n.notnull())].__len__()

248

### How many people have played an "Ophelia"?

In [69]:
cast[(cast.character == 'Ophelia')].__len__()

111

### How many people have played a role called "The Dude"?

In [70]:
cast[(cast.character == 'The Dude')].__len__()

18

### How many people have played a role called "The Stranger"?

In [71]:
cast[(cast.character == 'The Stranger')].__len__()

210

### How many roles has Sidney Poitier played throughout his career?

In [73]:
cast[(cast.name == 'Sidney Poitier')].__len__()

43

### How many roles has Judi Dench played?

In [74]:
cast[(cast.name == 'Judi Dench')].__len__()

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [76]:
cast[(cast.year == 1940) & (cast.name == 'Cary Grant') & (cast.n == 2)].__len__()

1

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [80]:
cast[(cast.year == 1940) & (cast.name == 'Cary Grant') & (cast.n == 1)]

,title,year,name,type,character,n
841595,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
841639,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
841641,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0

### How many roles were available for actors in the 1950s?

In [83]:
cast[(cast.year == 1950) & (cast['type'] == 'actor')].__len__()

16561

### How many roles were avilable for actresses in the 1950s?

In [85]:
cast[(cast.year == 1950) & (cast['type'] == 'actress')].__len__()

5529

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [86]:
cast[cast.n == 1].__len__()

147200

### How many non-leading roles were available through from the beginning of film history through 1980?

In [87]:
cast[cast.n != 1].__len__()

3469427

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [90]:
cast[cast.n.isnull()].__len__()

1382219